html {
    --primary-font: 'Geneva', 'Helvetica', 'Helvetica Neue', sans-serif;
    --secundary-font: 'Roboto', sans-serif;

    --primary-color: #205080;
    --primary-light-color: #0073e5;
    --primary-dark-color: #13304d;

    --secundary-color: #208080;
    --secundary-light-color: #00cccc;

    --vibrant-red: #bf133e;

    --black: hsl(0,0%,20%);
    --light-black: hsl(0,0%,40%);

    --full-white: #fff;
    --white: hsl(0,0%,90%);
    --semi-white: hsl(0,0%,75%);
    --gray: hsl(0,0%,50%);
}


* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--secundary-font);
    color: var(--black);
}

li {
    list-style: none;
}

.primary-font {
    font-family: var(--primary-font);
}

.secundary-font {
    font-family: var(--secundary-font);
}