html {
    --primary-font: 'Geneva', 'Helvetica', 'Helvetica Neue', sans-serif;
    --secundary-font: 'Roboto', sans-serif;

    --primary-color: #1F8D7A;
    --primary-light-color: #21C079;
    --primary-dark-color: #416F6A;

    --secundary-color: #7E2632;
    --secundary-light-color: #E58759;

    --vibrant-red: #bf133e;

    --black: hsl(0,0%,20%);
    --light-black: hsl(0,0%,40%);

    --full-white: #fff;
    --white: hsl(0,0%,90%);
    --semi-white: hsl(0,0%,75%);
    --gray: hsl(0,0%,50%);
    font-size: 20px;
}


* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: var(--secundary-font);
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    font-size: calc(1rem + 1vw);
}

li {
    list-style: none;
}

.primary-font {
    font-family: var(--primary-font);
}

.secundary-font {
    font-family: var(--secundary-font);
}